@import '../../root.scss';

.main-view {
    @include flex-column-standard();
    background-color: $background-color;
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}

.alert-modal {
    position: absolute;
    padding: 16px;
    top: 100px;
    display: flex;
    align-items: center;
    z-index: 99999;
    cursor: pointer;
    background-color: $background-color;
    .icon {
        font-size: 20px;
        color: white;
    }
    p {
        margin: 0;
        margin-right: 16px;
        color: white;
    }
}

.nav {
    font-size: 16px;
    color: white;
    height: 50px;
    width: 100%;
    padding: 10px 165px;
    background-color: $background-color;
    box-shadow: 0px 2px 5px 0 $accent-dark-color;
    z-index: 980;
    @include flex-row-standard();
    justify-content: space-between;
    position: fixed;

    h1 {
        
        margin: 0;
    }
}

.nav-button-flex {
    @include flex-row-standard();

    .account-btn {
        transition: background-color 0.3s;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
            font-size: 20px;
            color: white;
        }

        &:hover {
            background-color: $accent-dark-color;
            
        }
    }

}

p {
    font-family: $primary-font;   
}



.signout-btn {
    @include lg-btn();
    background-color: transparent;
    text-transform: uppercase;
    height: 50px;

    &:hover {
        background-color: $accent-dark-color;
    }

}
.movie-grid {
    height: 100%;
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 24px;
    }

    .nav {
        padding: 10px 70px;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    .nav {
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 425px) {
    h1 {
        font-size: 16px;
    }

    .nav {
        padding: 0;
        width: 100vw;
        height: 50px;
        align-items: flex-start;
    }

}

::-webkit-scrollbar {
    display: none;
  }